@import url('styles/_colors.css');
@import url('styles/_font.css');

#navbar {
    margin: 0;
    padding: 0;
    display: flex;
    width: 1100px;
    height: 52px;

}

.container {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 52px;
}

.img {
    display: flex;
    width: 60.53px;
    height: 18.46px;
    align-items: start;
}

.ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 295px;
    height: 22px;
    display: flex;
    align-items: center;
}

.il {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    width: 150px;
    height: 52px;
}