body {
    background-color: var(--light);
    width: 100vw;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form {
    max-width: 1100px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.container-form label {
    margin-top: 1.5em;
}

.field {
    min-width: 100%;
    max-width: 1100px;
    min-height: 50px;
    max-height: 70px;
    border: none;
    background-color: rgb(107, 112, 141, 20%);

    &::placeholder {
        color: var(--medium);
        padding: 15px;
    }
}

.field-message {
    min-width: 350px;
    max-width: 1100px;
    min-height: 50px;
    max-height: 240px;
    border: none;
    background-color: rgb(107, 112, 141, 20%);

    &::placeholder {
        color: var(--medium);
        padding: 15px;
    }
}

.submit {
    min-width: 350px;
    max-width: 1100px;
    min-height: 50px;
    height: 70px;
    border: none;
    background-color: var(--primary);
    color: white;
    margin-top: 2em;
}

/*TABLET VERSIÓN*/
/*DESKTOP*/