/*SIMPLIFY*/
#simplify-section {
    margin-top: 4rem;
    padding: 0 2em 0 2em;
    display: flex;
    justify-content: center;
}

.container-simplify {
    max-width: 1100px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.info {
    margin: 1em 0 4em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date {
    color: black;
}

.container-simplify img {
    max-height: 444px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));

}

.container-simplify p {
    padding-top: 1.5em;
}

/*PROYECTOS*/
#other-project-section {
    margin-top: 4rem;
    padding: 0 2em 0 2em;
    display: flex;
    justify-content: center;
}

.container-project {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    min-width: 340px;
}

.projects {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3em 0 3em 0;
}

.element {
    min-width: 340px;
    max-width: 340px;
    height: 444px;
    background-color: white;
    margin: 0 40px 0 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.element:last-child {
    margin-right: 0;
}

.element img {
    width: 340px;
    height: 240px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 2.5em;

}

/*PREGUNTAS*/
#CTA-section {
    margin-top: 4rem;
    padding: 0 2em 0 2em;
    display: flex;
    justify-content: center;
}

.CTA {
    background-color: var(--yellow);
    width: 1320px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-CTA {
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-CTA h3 {
    text-align: center;
}

.container-CTA p {
    color: var(--dark);
}

.form {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form input {
    max-height: 80px;
    background-image: url(/project-assets-20250305T200804Z-001/project-assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-right: 10px;
    padding-left: 40px;
    border: none;
}

.form button {
    max-height: 80px;
}

@media (min-width: 600px) {
    .info {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .projects {
        overflow: hidden;
    }
}