body {
    background-color: var(--light);
    width: 100vw;
}

/*SIMPLIFY*/
#simplify-section {
    padding: 2rem;
}

.container-simplify {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.container-simplify img {
    padding-top: 2em;
}

.container-simplify p {
    padding-top: 1.5em;
    text-align: start
}

/*PROYECTOS*/
#project-section {
    padding: 2rem;
}

.container-project {
    display: flex;
    flex-direction: column;

}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 2rem;

}

.element {
    margin: 1.5em;
    min-width: 340px;
    max-width: 340px;
    height: 444px;
    background-color: white;
}

.element img {
    width: 340px;
    height: 240px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 2.5em;

}

/*PREGUNTAS*/
#CTA-section {
    padding: 2rem;
    background-color: var(--yellow);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-CTA h3 {
    text-align: center;
}


.container-CTA p {
    color: var(--dark);
}

.form {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form input {
    height: 52px;
    background-image: url(/project-assets-20250305T200804Z-001/project-assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-right: 10px;
    padding-left: 40px;
    border: none;
}