body {
    background-color: var(--light);
    width: 100vw;
}

#hero section {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    color: var(--dark);
    padding: 2rem;
}

.container h1 {
    font-size: 2.7em;
    text-align: start;
}

.container p {
    padding-top: 2em;
    font-size: 1.5em;
    text-align: start;
    color: var(--medium);
}

.button-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.white {
    background-color: transparent;
    color: var(--medium);
}

.container-image {
    width: 100vw;
    position: relative;
}

.hero-image {
    width: 100vw;
}

.card-1 {
    width: 180px;
    position: absolute;
    left: 0;
    top: 0;
}

.card-2 {
    width: 180px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#clients-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}

.client {
    flex: 1 0 auto;
    margin: 0 50px;
    width: 100px;
    height: 96px;
    align-items: center;
}

.client img {
    width: 100px;
    height: 96px;
    filter: grayscale();
}

#project-section {
    padding: 50 20;
    font-size: medium;

}

#project-section h3 {
    font-size: 2.2em;

}

.container-project {
    display: flex;
    flex-direction: column;

}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: space-around;

}

.elemento {
    flex: auto;
    margin: 0 50px;
    width: 340px;
    height: 444px;
    background-color: white;
    filter: drop-shadow(0 0 5px black);

}

.elemento img {
    width: 340px;
    height: 240px;
}

.texto {
    display: flex;
    flex-direction: column;
    padding: 5 5 auto;
}

.texto p {
    font-size: 1.5em;
    color: var(--medium);
}

.texto a {
    align-items: end;
}

#testimonial-section {
    background-color: var(--dark);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-opinion {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-opinion h3 {
    font-size: 1.75em;
    color: var(--light);
    text-align: center;
}

.container-opinion p {
    color: var(--yellow);
    text-align: center;

}

.client-information {
    width: 171px;
    height: 50px;
}

.group-53 {
    display: flex;
    flex-direction: row;
}

.group-53 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}