body {
    background-color: var(--light);
    width: 100vw;
}

/*HEADER*/
#hero-section {
    display: flex;
    flex-direction: column;
}

.container-info {
    display: flex;
    flex-direction: column;
    color: var(--dark);
    padding: 2rem;
}

.container-info h1 {
    text-align: start;
}

.container-info p {
    padding-top: 2rem;
    text-align: start;
    color: var(--medium);
}

.button-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.white {
    background-color: transparent;
    color: var(--medium);
}

.container-image {
    margin-top: 2em;
    width: 100vw;
    position: relative;
}

.hero-image {
    width: 100vw;
}

.card-1 {
    width: 140px;
    position: absolute;
    left: 0;
    top: 0;
}

.card-2 {
    width: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*CLIENTES*/
#clients-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 2rem;
}

.client {
    flex: 1 0 auto;
    margin: 0 50px;
    width: 100px;
    height: 96px;
    align-items: center;
}

.client img {
    width: 100px;
    height: 96px;
    filter: grayscale();
}

/*PROYECTOS*/

#project-section {
    padding: 2rem;
}

.container-project {
    display: flex;
    flex-direction: column;

}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 2rem;

}

.element {
    margin: 1.5em;
    min-width: 340px;
    max-width: 340px;
    height: 444px;
    background-color: white;
}

.element img {
    width: 340px;
    height: 240px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 2.5em;

}

/*TESTIMONIO*/

#testimonial-section {
    background-color: var(--dark);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 599px) {
    .memojis-1 {
        display: none;
    }

    .memojis-2 {
        display: none;
    }
}

.container-opinion {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-opinion h3 {
    font-size: 1.8em;
    color: var(--light);
    text-align: center;
}

.container-opinion p {
    color: var(--yellow);
    text-align: center;

}

.client-information {
    width: 171px;
    height: 50px;
}

.opinion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opinion img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.opinion div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opinion div p {
    color: var(--hover);
}

.opinion div a {
    color: var(--light);
}

/*SERVICIOS*/

#service-section {
    padding: 2rem;
}

.container-service {
    display: flex;
    flex-direction: column;
}

.service {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-top: 2rem;
}

.service-card {
    margin: 1em;
    min-width: 340px;
    max-width: 340px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 1em;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 40px;
}

/*PREGUNTAS*/
#CTA-section {
    background-color: var(--yellow);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.container-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-CTA h3 {
    text-align: center;
}


.container-CTA p {
    color: var(--dark);
}

.form {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form input {
    height: 52px;
    background-image: url(/project-assets-20250305T200804Z-001/project-assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-right: 10px;
    padding-left: 40px;
    border: none;
}

/*TABLET VERSIÓN*/

@media (min-width: 600px) {
    .container-image {
        width: 570px;
        height: 637px;
    }

    .card-1 {
        width: 190px;
        height: 193px;
    }

    .card-2 {
        width: 190px;
        height: 193px;
    }

    #testimonial-section {
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
    }

    .memojis-1 {
        padding: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 600px;
    }

    .container-opinion {
        height: 350px;
        width: 400px;
        ;
    }

    .memojis-2 {
        padding: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 600px;

    }

    .emoji {
        width: 100px;
        width: 100px;
    }

}