body {
    background-color: var(--light);
    width: 100vw;
}

/*HEADER*/
#hero-section {
    margin-top: 4rem;
    padding: 0 2em 0 2em;
    display: flex;
    justify-content: center;
}

.container-hero {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    color: var(--dark);
    justify-content: space-between;
    max-width: 530px;
}

.info h1 {
    text-align: start;
}

.info p {
    padding-top: 1em;
    text-align: start;
}

.button-mobile {
    display: flex;
    flex-direction: row;
    padding: 2em 0 2em;
}

.white {
    background-color: transparent;
    color: var(--medium);
    margin-left: 2em;
}

.image-hero {
    display: flex;
    max-width: 570px;
    max-height: 650px;
    position: relative;
}

.hero {
    width: 100%;
}


.card-1 {
    max-width: 140px;
    position: absolute;
    left: 0;
    top: 0;
}

.card-2 {
    max-width: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (min-width: 599px) and (max-width: 800px) {
    .card-1 {
        max-width: 100px;
    }

    .card-2 {
        max-width: 100px;
    }
}

/*CLIENTES*/
#clients-section {
    margin-top: 4rem;
    padding: 2em;
    display: flex;
    justify-content: center;

}

.container-clients {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 1em;
}

.client {
    width: 150px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 87.5px;
}

.client:nth-child(5) {
    margin-right: 0;
}

.client img {
    width: 104px;
    filter: grayscale();
}

/*PROYECTOS*/

#project-section {
    margin-top: 4rem;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.container-project {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    min-width: 340px;
}

.projects {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3em 0 3em 0;
}

.element {
    min-width: 340px;
    max-width: 340px;
    height: 444px;
    background-color: white;
    margin: 0 40px 0 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.element:last-child {
    margin-right: 0;
}

.element img {
    width: 340px;
    height: 240px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 2.5em;

}

/*TESTIMONIO*/

#testimonial-section {
    margin-top: 4rem;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.container-testimonial {
    max-width: 1320px;
    height: 622px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

@media (max-width: 600px) {
    .memoji {
        display: none;
    }
}


.container-opinion {
    max-width: 621px;
    height: 382px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.container-opinion h3 {
    color: var(--light);
    text-align: center;
}

.container-opinion p {
    color: var(--yellow);
    text-align: center;

}

.client-information {
    width: 171px;
    height: 50px;
}

.opinion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opinion img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.opinion div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opinion div p {
    color: var(--hover);
}

.opinion div a {
    color: var(--light);
}

/*SERVICIOS*/

#service-section {
    margin-top: 4rem;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.container-service {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    min-width: 340px;
}

.service {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3em 0 3em 0;
}

.service-card {
    margin-right: 3.5em;
    min-width: 340px;
    max-width: 340px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 2.5em;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));

}

.icon {
    width: 80px;
    height: 80px;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 40px;
}

/*PREGUNTAS*/
#CTA-section {
    margin-top: 4rem;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.CTA {
    background-color: var(--yellow);
    width: 1320px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-CTA {
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-CTA h3 {
    text-align: center;
}

.container-CTA p {
    color: var(--dark);
}

.form {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form input {
    max-width: 393px;
    max-height: 80px;
    background-image: url(/project-assets-20250305T200804Z-001/project-assets/newsletter/icon/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-right: 10px;
    padding-left: 40px;
    border: none;
}

.form button {
    max-height: 80px;
}


/*TABLET VERSIÓN*/
@media (min-width: 600px) {
    .container-hero {
        flex-direction: row;
    }

    .memoji {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 150px;
    }

    .emoji {
        width: 150px;
        height: 150px;
    }

}

/*DESKTOP*/

@media (min-width: 1000px) {
    .container-hero {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-clients {
        overflow: hidden;
    }

    .projects {
        overflow: hidden;
    }

    .service {
        overflow: hidden;
    }

    .card-1 {
        max-width: 190px;

    }

    .card-2 {
        max-width: 190px;
    }

    .memoji {
        width: 1185px;
        height: 150px;
    }

    .container-opinion {
        padding: 0;
    }

    .opinion div p, a {
        font-size: 15px;
    }

    .form input {
        width: 393px;
        height: 80px;
        background-position: 20px;
        padding-left: 60px;

    }

    .form button {
        width: 198px;
        height: 80px;
    }
}