:root {
    --primary: #072ac8;
    --accent: #43D2FF;
    --hover: #A2D6F9;
    --Tapped: #D1EDFF;
    --dark: #292E47;
    --medium: #6B708D;
    --light: #F2F4FC;
    --light-blue: #ECF7FF;
    --yellow: #FFC600;

}